
body{
    display: flex;
    width: 100%;
    height: 100%;

}



#section1{
    height:60px;
    padding: 10px;
    display: flex;
    width: 100%;
    margin-right: 15px;
    justify-content: space-between;



}

#section1>button{
    width: 140px;
}

main>section:nth-child(2){
    width: 100%;
    margin-top: 8px;

}

main{
    width: 95vw;
    padding: 20px;
}

main>section:nth-child(3){
    width: 100%;
    text-align: center;
}

#tbl-customers thead tr th:first-child,
#tbl-customers thead tr td:first-child{
    width: 70px;
}

#tbl-customers thead tr th:last-child,
#tbl-customers thead tr td:last-child{
    width: 70px;
}

#tbl-customers>tbody>tr>td>div:first-child>svg:hover{
    fill: green;
}

#tbl-customers>tbody>tr>td>div:last-child>svg:hover{
   fill: red;
}

/*table tr>td:first-child{*/
/*    width: 150px;*/
/*}*/
/*table tr>td:nth-child(2){*/
/*    width: 400px;*/
/*    background-color: blue;*/
/*}*/
/*table tr>td:nth-child(3){*/
/*    width: 100%;*/
/*    background-color: red;*/
/*}*/


/*table tr>td:nth-child(4){*/
/*    width: 200px;*/
/*    background-color: red;*/
/*}*/
/*table tr>td:nth-child(5){*/
/*    width: 100px;*/
/*    background-color: red;*/
/*}*/

@media all and (max-width: 992px) {

    #section1{
        height:60px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        height: 100px;
        column-gap: 10px;
        width: 100%;
        margin-right: 15px;
        justify-content: space-between;
    }

    #section1>button{
        width: 140px;
    }



}


